# Data Types
## Numbers
## Intger and float

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
4%2

0

In [8]:
5%2

1

In [9]:
var= 2

In [10]:
var

2

In [11]:
x= 2

In [12]:
y = 3

In [13]:
x+y

5

In [14]:
x = x+x

In [15]:
x

4

In [16]:
x

4

In [17]:
x

4

In [18]:
x

4

In [19]:
#strings

In [20]:
'this is a string'

'this is a string'

In [21]:
'single quto'

'single quto'

In [22]:
"double quato"

'double quato'

In [23]:
x = 'hello'

In [24]:
x

'hello'

In [25]:
print(x)

hello

In [26]:
num = 12
me = 'sam'

In [27]:
'mu number is {} and my name is {}'.format(num,me)

'mu number is 12 and my name is sam'

In [28]:
print('mu number is {} and my name is {}'.format(num,me))

mu number is 12 and my name is sam

In [29]:
print('mu number is {one} and my name is {two}'.format(one=num,two=me))

mu number is 12 and my name is sam

indexing strings.if you write 'hello' the first element of this string is "h" but in python indexing starts with 0!

In [30]:
s = 'hello'

In [31]:
s[0]

'h'

In [33]:
print(s[4])

o

In [34]:
m = 'abcdefghijk'

In [35]:
m[0]

'a'

In [36]:
m[0:]

'abcdefghijk'

In [37]:
m[:3]

'abc'

In [38]:
m[0:3]

'abc'

In [39]:
m[3:6]

'def'

## Lists

In [40]:
[1,2,3]

[1, 2, 3]

In [43]:
['a','b','c']

['a', 'b', 'c']

In [44]:
my_list = ['a','b','c']

In [45]:
my_list.append('d')

In [46]:
my_list

['a', 'b', 'c', 'd']

In [47]:
print(my_list)

['a', 'b', 'c', 'd']

In [48]:
my_list[0]

'a'

In [49]:
my_list[0:2]

['a', 'b']

In [50]:
my_list[0]="new"

In [51]:
my_list

['new', 'b', 'c', 'd']

In [53]:
nest = [1,2,[3,4]]

In [54]:
nest

[1, 2, [3, 4]]

In [55]:
nest[2]

[3, 4]

In [56]:
nest[2][1]

4

In [57]:
nesti = [1,2,3,[4,5,['target']]]

In [59]:
nesti[3]

[4, 5, ['target']]

In [64]:
nesti[3][2][0]

'target'

In [65]:
print(nesti[3][2][0])

target

## Dictionaries

In [66]:
d={'key1':'value', 'key2':123}

In [67]:
d['key1']

'value'

In [68]:
d['key2']

123

In [70]:
d={'k1':[1,2,3], 'k2':'string' }

In [71]:
d

{'k1': [1, 2, 3], 'k2': 'string'}

In [72]:
d['k1']

[1, 2, 3]

In [73]:
d['k1'][0]

1

In [74]:
my_list = d['k1']

In [75]:
my_list

[1, 2, 3]

In [76]:
d={'k1':{'innerkey':[1,2,3]}}

In [77]:
d['k1']['innerkey'][0]

1

# Boolean

In [78]:
True

True

In [79]:
False

False

# Tupple

In [84]:
t = (1,2,3)

In [85]:
t

(1, 2, 3)

In [86]:
t[0]= 'new'

TypeError: 'tuple' object does not support item assignment

You cannot add or change tupple, this is the difference between tupple and list!!

## Sets

it's created as dictionaries but only values. And it brings always unique values.

In [87]:
s = {1,2,3}

In [88]:
s

{1, 2, 3}

In [90]:
s1 = {1,1,2,2,2,3,3,3,3,3}

In [91]:
s1

{1, 2, 3}

In [92]:
set([1,1,1,2,2,2,4,4,4,5,5,5])

{1, 2, 4, 5}

In [93]:
s = {1,2,3,4}

In [95]:
s.add(5)

In [96]:
s

{1, 2, 3, 4, 5}

# Conditions

In [97]:
1 != 3

True

In [98]:
2 <5

True

In [99]:
3 == 3

True

In [100]:
'hi' != 'bye'

True

In [101]:
2<3 and 4>5

False

In [102]:
1 <2 or 3>5

True

In [103]:
if 1 <2 :
    print('yep!')

yep!

In [106]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
        print('last')

middle

## Conditions & Loops

In [107]:
seq = [1,2,3,4]

In [108]:
for item in seq:
    print(item)

1
2
3
4

In [109]:
for num in seq:
    print('hello')

hello
hello
hello
hello

In [2]:
i = 1

while i < 5:
    print('i is: {}'. format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [1]:
'hello'

'hello'

In [3]:
range(0,5)

range(0, 5)

In [5]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
x = [1,2,3,4]

In [8]:
out = []

for num in x:
    out.append(num**2)

In [9]:
print(out)

[1, 4, 9, 16]

shorter version of writing the code above

In [10]:
out = [num**2 for num in x]

In [11]:
out

[1, 4, 9, 16]

In [15]:
def my_function(param1):
    print(param1)

In [16]:
my_function('hello')

hello

In [20]:
def my_func1(name):
    print('hello '+name)

In [21]:
my_func1('sema')

hello sema

In [23]:
def square(num):
    return num**2

In [24]:
output = square(2)

In [25]:
output

4

## LAmbda Expressions
## Map and filter function

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [29]:
#map

In [3]:
seq = [1,2,3,4,5]

In [4]:
map(times2, seq)

In [5]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [6]:
# this is equal the function above
lambda var:var*2

In [7]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [37]:
#filter

In [38]:
filter(lambda num:num%2 == 0, seq)

In [39]:
list(filter(lambda num:num%2 == 0, seq))

[2, 4]

In [40]:
#MEthods

In [41]:
s= 'hello my name is Sam'

In [42]:
s.lower()

'hello my name is sam'

In [43]:
s.upper()

'HELLO MY NAME IS SAM'

In [44]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [45]:
tweet = 'Go Sports! #Sports'

In [46]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [47]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [48]:
tweet.split('#')[1]

'Sports'

In [49]:
d = {'k1':1, 'k2':2}

In [50]:
d.keys()

dict_keys(['k1', 'k2'])

In [51]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [52]:
d.values()

dict_values([1, 2])

In [53]:
lst = [1,2,3]

In [54]:
lst.pop()

3

In [56]:
lst

[1, 2]

In [57]:
lst = [1,2,3,4,5]

In [58]:
item = lst.pop()

In [59]:
item

5

In [60]:
first = lst.pop(0)

In [61]:
lst

[2, 3, 4]

In [62]:
lst.append('new')

In [63]:
lst

[2, 3, 4, 'new']

In [64]:
'x' in [1,2,3]

False

In [65]:
x in ['x','y','z']

False

In [66]:
'x' in ['x','y','z']

True

In [67]:
x = [(1,2), (2,3), (4,5)]

In [68]:
for item in x:
    print(item)

(1, 2)
(2, 3)
(4, 5)

In [69]:
# tupple unpacking
for (a,b) in x:
    print(a)

1
2
4

In [70]:
for a,b in x:
    print(b)

2
3
5

In [71]:
for a,b in x:
    print(a)
    print(b)

1
2
2
3
4
5